body {
    font-family: 'PT Serif', serif;
    color: rgb(40, 40, 40);
}

.cuerpo {
    padding-top: 62px;
}

/* WELCOME */

.home-wrapper-image {
    height: 100vh;
    background-image: url("../resources/background1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

.home-wrapper {
    height: 100vh;
    background-image: linear-gradient(170deg, rgba(0, 0, 30, 0.7), rgba(255, 82, 27, 0.2));
    color: white;
}

.home-welcome {
    height: 100vh;
}

.welcome-section {
    padding: 3rem 4rem;
}

.title-area {
    text-align: center;
}

.home-title {
    user-select: none;
    color: rgba(250, 250, 250, 1);
    letter-spacing: 1rem;
    font-size: 5rem;
    font-weight: lighter;
    font-family: 'Modern Antiqua', cursive;
    position: relative;
}

.title-subline {
    width: 600px;
    height: 2px;
    background-image: linear-gradient(to right, #FF521B, #EF233C, #FF521B);
}

.link-area {
    text-align: center;
    padding-bottom: 3.5rem;
}

.home-link {
    letter-spacing: .3rem;
    font-size: .8rem;
    font-weight: bold;
    color: rgb(200, 200, 200);
    transition: all 0.5s ease;
}

    .home-link:hover {
        font-weight: bolder;
        color: white;
        text-decoration: none;
    }

.home-input {
    border-radius: 0;
    box-shadow: .5rem .5rem 7rem .3rem black;
}

/* MENU */

.main-menu {
    background-color: rgb(46, 64, 87);
}

.nav-title {
    font-size: 1.5rem;
    letter-spacing: .3rem;
    color: rgb(240, 240, 240);
    font-family: 'Modern Antiqua', cursive;
    transition: all .5s ease;
}

    .nav-title:hover {
        color: #FF521B;
    }

.nav-item-link {
    letter-spacing: .15rem;
    font-size: .8rem;
    color: rgb(200, 200, 200);
    transition: all .5s ease;
    font-weight: bolder;
}

    .nav-item-link:hover {
        color: white;
    }

/* UPLOAD */

.upload-form {
    height: 100vh;
}

.form-wrapper {
    width: 60vw;
    background-color: rgb(245, 245, 245);
    border-radius: .3rem;
}

.form-title-area {
    padding-top: 30px;
}

.form-title {
    font-weight: bold;
    color: rgb(60, 60, 60);
    padding-bottom: 30px;
    border-bottom: .1rem solid red;
}

.form-content {
    padding-top: 3vh;
}

.form-label {

}

.upload-input {
    border-radius: 0;
}

.form-btn {
    border-color: rgb(100, 100, 100);
    background-color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

    .form-btn:hover {
        color: rgb(250, 250, 250);
        border-color: rgba(240, 0, 0, 1);
        background-color: rgba(240, 0, 0, 0.8);
    }

/* RESULTS */

.search-area {
    padding-top: 70px;
    padding-bottom: 30px;
}

.result-title-area {
    padding-top: 20px;
    padding-bottom: 40px;
}

.result-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.doc-link {
    color: rgb(40, 40, 40);
    transition: all ease 0.5s;
}

    .doc-link:hover {
        color: red;
        text-decoration: none;
    }

.doc-thumb {
    border: solid .1px rgb(230, 230, 230);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.doc-prev {
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(210, 210, 210);
    height: 200px;
    text-align: center;
}

.doc-icon {
    font-size: 5rem;
    vertical-align: middle;
    line-height: 200px;
}

.doc-text {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.doc-title {

}

.doc-author {
    font-size: .8rem;
    color: rgb(80, 80, 80);
}

.doc-year {
    font-size: .8rem;
    color: rgb(90, 90, 90);
}